@using MVC_Panderia.Models

@model usuario
@{
    ViewBag.Title = "Iniciar sesión";
}


@using (Html.BeginForm("signIn", "usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container-fluid" >
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h3 class="float-left">Inicio de sesion</h3>
                            <button class="btn btn-link btn-lg float-right" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-info-circle"></i>
                            </button>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Permite registrar las variables de monitoreo que se registran en el procesamiento de productos. ustede puede definir variables propias o seleccionar variables desde otros sistemas o bases de datos.
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label">Usuario</label>
                            <input class="form-control" name="Id">*
                            @*@Html.ValidationMessageFor(model => model.Id)*@
                            <small id="usernameHelp" class="form-text text-muted">Nunca comparta su cuenta de usuario y contraseña con otros usuarios.</small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Contraseña</label>
                            <input type="password" class="form-control" name="contrasena">*
                            @*@Html.ValidationMessageFor(model => model.contraseña)*@
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" id="chkRecordar" class="form-check-input" runat="server">
                                Recordarme
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success pl-2" id="login">Aceptar</button>
                    </div>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>

    </div>
}
    <script type="text/javascript">

        function check(input) {
            if (input.value != document.getElementById('txt_password_nueva').value) {
                input.setCustomValidity('Las contraseñas deben ser iguales.');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }
    </script>
