@{
    ViewBag.Title = "Produccion";
}

<form method="post" action="@Url.Action("Create", "cabecera_produccion")">
    <div class="row  pb-2">
        <div class="col-12"><h4>@ViewBag.Title </h4></div>
    </div>

    <div class="form-group">
        <label>Fecha</label>
        <input type="date" class="form-control"  name="fecha" id="input-fecha">
    </div>


    <button type="submit" class="btn btn-primary" id="fecha-guardar">Guardar</button>


</form>