@{
    ViewBag.Title = "Nuevo Costo Receta " + ViewBag.NombreReceta;
}

@if (@ViewBag.Error != "")
{
    <p class="bg-danger">@ViewBag.Error</p>
}

<form method="post" action="@Url.Action("CreateDetailCosto", "cabecera_receta", new {  nombre=ViewBag.NombreReceta })">
    <div class="row  pb-2">
        <div class="col-12"><h4>@ViewBag.Title </h4></div>
    </div>

    <div class="form-group">
        <label>Fecha</label>
        <input type="text" class="form-control date-picker" id="nueva-fecha" name="fecha" required>
    </div>

    <div class="form-group">
        <label>Valor</label>
        <input class="form-control" id="nuevo-costo" name="valor" required>
    </div>

    <button type="submit" id="guardar-costo" class="btn btn-primary">Guardar</button>


</form>

