@{
    ViewBag.Title = "Analisis costo por Kilos";
}
<form method="post" action="@Url.Action("ReportKilos", "analisis_costos_kilos")">
    <div class="row">
        <div class="form-group col-3">
            <label>Fecha Inicial</label>
            <input type="date" class="form-control" name="fecha_inicial">
        </div>
        <div class="form-group col-3">
            <label>Fecha Final</label>
            <input type="date" class="form-control" name="fecha_final">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success">Ejecutar</button>
        </div>
    </div>
</form>
